body {
    background: url(tiet2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
  
}

.box {
    border: 3px solid black;
    border-radius: 50px;
    height: 400px;
    width: 600px;
    margin: auto;
    margin-top: 100px;
    background: linear-gradient( 322deg, rgba(62, 50, 255, 1) 0%, rgba(249, 249, 249, 1) 75% );
}

    .box:hover {
        box-shadow: 5px 5px 30px rgb(0, 0, 0);
        transition: all 0.5s;
    }

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 20px;
    outline: none;
}

    .input-field:focus {
        border: 2px solid rgb(0, 0, 0);
    }

.btn {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .btn:hover {
        opacity: 1;
    }

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

a:hover {
    color: red;
}
